.app {
  text-align: center;
  min-height: 100vh;
  padding-top: 200px;
}

.step-node {
  min-height: 200px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.input-error {
  border: 1px solid $red;
}
